<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>Control.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServlet</servlet-name>
        <servlet-class>Control.MostrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoAplicante</servlet-name>
        <servlet-class>Control.NuevoAplicante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoAplicante2</servlet-name>
        <servlet-class>Control.NuevoAplicante2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUser</servlet-name>
        <servlet-class>Control.ValidarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaBeca</servlet-name>
        <servlet-class>Control.NuevaBeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Volver</servlet-name>
        <servlet-class>Control.Volver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearBeca</servlet-name>
        <servlet-class>Control.CrearBeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearBeca2</servlet-name>
        <servlet-class>Control.CrearBeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerBecas</servlet-name>
        <servlet-class>Control.VerBecas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aplicanterutas</servlet-name>
        <servlet-class>Control.Aplicanterutas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aplicar</servlet-name>
        <servlet-class>Control.Aplicar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AplicarServlet</servlet-name>
        <servlet-class>Control.AplicarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AplicarServlet2</servlet-name>
        <servlet-class>Control.AplicarServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AplicarBercas</servlet-name>
        <servlet-class>Control.AplicarBercas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pruebas</servlet-name>
        <servlet-class>Control.pruebas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirRequisito</servlet-name>
        <servlet-class>Control.SubirRequisito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerAplicaciones</servlet-name>
        <servlet-class>Control.VerAplicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>Control.Editar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>Control.Eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServlet</servlet-name>
        <url-pattern>/MostrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoAplicante</servlet-name>
        <url-pattern>/NuevoAplicante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoAplicante2</servlet-name>
        <url-pattern>/NuevoAplicante2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarUser</servlet-name>
        <url-pattern>/ValidarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaBeca</servlet-name>
        <url-pattern>/NuevaBeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Volver</servlet-name>
        <url-pattern>/Volver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearBeca</servlet-name>
        <url-pattern>/CrearBeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearBeca2</servlet-name>
        <url-pattern>/CrearBeca2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerBecas</servlet-name>
        <url-pattern>/VerBecas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aplicanterutas</servlet-name>
        <url-pattern>/Aplicanterutas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aplicar</servlet-name>
        <url-pattern>/Aplicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AplicarServlet</servlet-name>
        <url-pattern>/AplicarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AplicarServlet2</servlet-name>
        <url-pattern>/AplicarServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AplicarBercas</servlet-name>
        <url-pattern>/AplicarBercas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pruebas</servlet-name>
        <url-pattern>/pruebas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirRequisito</servlet-name>
        <url-pattern>/SubirRequisito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerAplicaciones</servlet-name>
        <url-pattern>/VerAplicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/Editar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
